server:
  port: 8072
spring:
  application:
    name: "apigateway"
  config:
    import: "optional:configserver:http://localhost:8071/"
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      server:
        webflux:
          discovery:
            locator:
              lower-case-service-id: true
              enabled: false
          httpclient:
            connectTimeout: 1000
            response-timeout: 2s
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    gateway:
      access: unrestricted
  info:
    env:
      enabled: true

eureka:
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    serviceUrl:
      defaultZone: "http://localhost:8070/eureka/"

info:
  app:
    name: "${spring.application.name}"
    description: "This is a api gateway server"
    version: "1.0.0"
logging:
  level:
    com:
      saugat:
        apigateway: DEBUG


resilience4j:
  circuitbreaker:
    configs:
      default:
        slidingWindowSize: 10
        permittedNumberOfCallsInHalfOpenState: 2
        failureRateThreshold: 50
        waitDurationInOpenState: 10000

